<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>
    <title>채팅</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">

        let ws;
        let lastUlFlag = false;
        let prevDataList = /*[[${chatList}]]*/ '';

        $(document).ready(() => {

            //기존 데이터 출력
            printPrevData();
            //웹소켓 접속
            openSocket();
            getNotificationPermission();

            $('#message').on('keyup', (event) => {

                if (event.key === 'Enter') {
                    if (!event.shiftKey) {
                        fnSend();
                    }
                }

                if ($('#message').val().trim() !== '') {
                    $('#sendButton').attr('disabled', false);
                }
                else {
                    $('#sendButton').attr('disabled', true);
                }

            });
        });

        function openSocket() {
            if (ws !== undefined && ws.readyState !== WebSocket.CLOSED) {
                alert('웹소켓 서버에 접속하는 과정에서 오류가 발생했습니다.\n로그인 페이지로 이동합니다.');
                location.href = '/logout.do';
            }

            ws = new WebSocket("ws://localhost:8080/echo.do");

            //소켓 열림
            ws.onopen = (event) => {
                if (event.data === undefined) {
                    return;
                }
                printResponse(event.data);
            };

            //소켓 메시지 출력
            ws.onmessage = (event) => {
                printResponse(event.data);
            };

            //소켓 닫힘
            ws.onclose = (event) => {
                alert('웹소켓 서버와 접속이 종료되었습니다.\n로그인 페이지로 이동합니다.');
                location.href = '/logout.do';
            };

            //오류 발생
            ws.onerror = (event) => {
                alert('웹소켓 서버에 접속하는 과정에서 오류가 발생했습니다.\n로그인 페이지로 이동합니다.');
                location.href = '/logout.do';
            };

        }

        //채팅방 나가기
        function closeSocket() {
            if (ws !== undefined && ws.readyState !== WebSocket.CLOSED) {
                ws.close();
            }
            location.href = '/logout.do';
        }

        //전송
        function fnSend() {
            let message = $('#message').val().trim();
            if (message === '') {
                $('#message').val('');
                $('#sendButton').attr('disabled', true);
                return false;
            }
            let data = {'message': message};
            let json = JSON.stringify(data);

            ws.send(json);
            $('#sendButton').attr('disabled', true);
            $('#message').val('');
        }

        //기존 데이터 출력
        function printPrevData() {
            if (prevDataList === '[]') {
                return;
            }

            $('#chatContainer').append("<div class=\"notify\">" + "이전 채팅내용 시작 지점입니다." + "</div>");

            let jsonList = JSON.parse(prevDataList);
            let lastUlFlag = false;
            jsonList.forEach((data, index) => {

                if (data.chatType === '1') {
                    let li = "<li class=\"left\">" +
                        "<span class=\"name\">" + data.nickname + "</span>" +
                        "<div>" +
                        "<p>" + data.chatMessage + "</p>" +
                        "</div>" +
                        "<span class=\"time\">" + data.chatRegdate.time.hour + ":" + data.chatRegdate.time.minute + "</span>" +
                        "</li>";
                    if (lastUlFlag === false) {
                        $('#chatContainer').append("<ul class=\"chatUl\">" + li + "</ul>");
                    }
                    else {
                        $('.chatUl').last().append(li);
                    }
                    lastUlFlag = true;
                }
                else {
                    $('#chatContainer').append("<div class=\"notify\">" + data.chatMessage + "</div>");
                    lastUlFlag = false;
                }

            });

            $('#chatContainer').append("<div class=\"notify\">" + "이전 채팅내용 끝 지점입니다." + "</div>");
        }

        //서버로부터 받은 내용 출력
        function printResponse(data) {

            let object = JSON.parse(data);
            let type;
            let li = '';

            if (object.returnCode === '1') {
                type = 'right';
                li += "<li class=\"" + type + "\">" +
                    "<span class=\"name\">" + object.sender + "</span>" +
                    "<span class=\"time\">" + object.timeFormatted + "</span>" +
                    "<div>" +
                    "<p>" + object.message + "</p>" +
                    "</div>" +
                    "</li>";
            }
            else if (object.returnCode === '2') {
                type = 'left';
                li += "<li class=\"" + type + "\">" +
                    "<span class=\"name\">" + object.sender + "</span>" +
                    "<div>" +
                    "<p>" + object.message + "</p>" +
                    "</div>" +
                    "<span class=\"time\">" + object.timeFormatted + "</span>" +
                    "</li>";
            }
            else {
                type = 'notify';
                $('#chatContainer').append("<div class=\"notify\">" + object.message + "</div>");
                lastUlFlag = false;

                fnNotify('채팅 공지', String(object.message).substring(0, 20));
            }

            if (type !== 'notify') {
                if (lastUlFlag === false) {
                    $('#chatContainer').append("<ul class=\"chatUl\">" + li + "</ul>");
                }
                else {
                    $('.chatUl').last().append(li);
                }
                lastUlFlag = true;

                fnNotify(object.sender, String(object.message).substring(0, 20));
            }

            //자동 스크롤
            $('#chatContainer').scrollTop($('#chatContainer')[0].scrollHeight);
        }

        //알림 권한 받기
        function getNotificationPermission() {
            //브라우저 지원 여부 체크
            if (!("Notification" in window)) {
                console.log("데스크톱 알림을 지원하지 않는 브라우저입니다.");
            }
            //알림 권한 요청
            Notification.requestPermission((result) => {
                //권한 거절
                if (result === 'denied') {
                    alert('알림을 차단하셨습니다.\n브라우저의 사이트 설정에서 변경하실 수 있습니다.');
                    return false;
                }
            });
        }

        //알림
        function fnNotify(sender, message) {
            let options = {
                body: message
            }

            let notification = new Notification(sender, options);

            setTimeout(function () {
                notification.close();
            }, 1500);
        }
    </script>
</head>
<body>
<div class="loader" style="display: none"></div>
<div class="container">
    <div class="exit">
        <button onclick="closeSocket();">채팅방 나가기</button>
    </div>
    <div class="chatBox" id="chatContainer"></div>
    <div class="write">
        <textarea id="message" cols="30" rows="10"></textarea>
        <button id="sendButton" onclick="fnSend();" disabled>전송</button>
    </div>
</div>
</body>
</html>
