<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/resources/css/style.css"/>
    <title>채팅</title>
</head>
<body>
<div class="loader" style="display: none"></div>
<div class="container">
    <div class="exit">
        <button>채팅방 나가기</button>
    </div>
    <div class="chatBox">
        <ul class="chatUl">
            <li class="left">
                <span class="name">사용자</span>
                <div>
                    <p>testtesttesttesttesttesttesttesttesttest</p>
                </div>
                <span class="time">1:50</span>
            </li>
            <li class="right">
                <span class="time">1:50</span>
                <div>
                    <p>testtesttesttesttesttesttesttesttesttest
                        testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest
                        testtesttesttesttesttesttesttesttesttest</p>
                </div>
            </li>
            <li class="right">
                <span class="time">1:50</span>
                <div>
                    <p>testtesttesttesttesttesttesttesttesttest</p>
                </div>
            </li>
            <li class="right">
                <span class="time">1:50</span>
                <div>
                    <p>testtesttesttesttesttesttesttesttesttest</p>
                </div>
            </li>
            <li class="right">
                <span class="time">1:50</span>
                <div>
                    <p>testtesttesttesttesttesttesttesttesttest</p>
                </div>
            </li>
            <li class="left">
                <span class="name">사용자</span>
                <div>
                    <p>testtesttesttesttesttesttesttesttesttest</p>
                </div>
                <span class="time">1:50</span>
            </li>
        </ul>
        <div class="notify">사용자님이 들어왔습니다</div>
        <ul class="chatUl">
            <li class="left">
                <span class="name">사용자</span>
                <div>
                    <p>testtesttesttesttesttesttesttesttesttest</p>
                </div>
                <span class="time">1:50</span>
            </li>
        </ul>
        <div class="notify">사용자님이 나갔습니다</div>
        <ul class="chatUl">
            <li class="right">
                <span class="time">1:50</span>
                <div>
                    <p>testtesttesttesttesttesttesttesttesttest</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="write">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button>전송</button>
    </div>
</div>
</body>
</html>
