<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>
    <title>로그인</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function fnValidator() {
            if($('#nickname').val() === '') {
                alert('닉네임을 입력하세요.');
                return false;
            }
        }
    </script>
</head>
<body>
<div class="loader" style="display: none"></div>
<div class="container loginDivWrap">
    <div class="loginDiv">
        <p>로그인 페이지 입니다.</p>
        <form action="/loginProcess.do" method="post" onsubmit="return fnValidator();">
            <input type="text" name="nickname" id="nickname" placeholder="닉네임을 입력하세요."/>
            <button type="submit">채팅 시작하기</button>
        </form>
    </div>
</div>
</body>
</html>
